* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bungee Inline', cursive;
  color: #270757a5;
  margin-bottom: 0;
}

.grid-wrapper {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.bigGrid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 0 25px 0 rgba(207, 166, 228, 0.864);  
  height: 100%;  
  height: 800px;
  width: 800px;
}

.bigGrid div {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #d5c3f0;
  flex-grow: 1;
  height: 33.33%;
  width: 33.33%;
}

/* .weeGrid{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;  
  height: 300px;
  width: 300px;
} */

.weeGrid div {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #d5c3f0;
  flex-grow: 1;
  height: 15%;
  width: 15%;

}

.symbols {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bungee Inline', cursive;
  color: #270757a5;

}

.goLight{
  background-color: rgba(255, 246, 196, 0.846);
}

.nopeLight{
  background-color: rgba(183, 181, 181, 0.933);
}


